.component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.componentContent {
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 500px;
  height: 500px;
}

.componentContent>input[type='textbox'] {
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
  border: none;
  color: #666;
  width: 200px;
  border-radius: 5px;
  outline: none;
}

.componentContent>input[type='submit'] {
  padding: 10px;
  margin: 10px;
  background-color: #000;
  border: none;
  color: #FFF;
  width: 220px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.componentContent>input[type='submit']:hover {
  transition: 0.1s;
  background-color: #222;
}
